{{- with site.Params.giscus }}
<div class="giscus-wrapper" style="margin-top: 2em;">
  <script src="https://giscus.app/client.js"
    data-repo="{{ .repo }}"
    data-repo-id="{{ .repoId }}"
    data-category="{{ .category }}"
    data-category-id="{{ .categoryId }}"
    data-mapping="{{ .mapping | default "pathname" }}"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="{{ .theme | default "preferred_color_scheme" }}"
    data-lang="{{ .lang | default "ko" }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end }}
